{% extends 'base.html.twig' %}

{% block content %}
    <style>
        .form-signin {
            max-width: 500%;

            padding: 15px 35px 45px;
            margin: 0 auto;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,0.1);
            box-shadow: 3px 3px 6px #999;
        }
    </style>
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>HISTORIAL ACADÉMICO</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <a target="_blank" title="Descargar PDF" {#onclick="verPDF('ReporteAlumnoNotas');"#}>
                        <button class="btn btn-success pull-right">
                            <i class="fa fa-file-pdf-o"></i> Descargar en PDF
                        </button>
                    </a>
                </div>
                <h4>
                    <span class="label label-primary">Periodo Academico &nbsp;&nbsp;  2016-1</span>
                </h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-hover table-striped">    
                        <thead>
                            <tr class="info">
                                <th class="text-center hidden-xs">Plan</th>
                                <th class="text-center">Cic</th>
                                <th class="text-center hidden-xs">Codigo</th>
                                <th class="text-center">Tipo</th>
                                <th class="text-center">Cred</th>
                                <th class="text-center col-xs-2 col-md-5">Asignatura</th>
                                <th class="text-center">Cal</th>
                                <th class="text-center">Sec</th>
                                <th class="text-center hidden-xs">Acta</th>             
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">2009  </td>
                                <td class="text-center">7</td>
                                <td class="text-center">207002  </td>
                                <td class="text-center">O   </td>
                                <td class="text-center">4.0</td>
                                <td>REDES DE COMPUTADORAS</td>
                                <td class="text-center"><span class="label label-danger">10</span></td>
                                <td class="text-center">2</td>
                                <td class="hidden-xs">P   -20161201200902070022P</td>
                            </tr>
                            <tr> 
                                <td class="text-center">2009  </td>
                                <td class="text-center">8</td>
                                <td class="text-center">208008  </td>
                                <td class="text-center">O   </td>
                                <td class="text-center">2.0</td>
                                <td>METODOLOGÍA PARA LA ELABORACIÓN DE TESIS</td>
                                <td class="text-center"><span class="label label-primary">14<span></span></span></td>
                                <td class="text-center">11</td>
                                <td class="hidden-xs">P   -201612012009020800811P</td>
                            </tr>
                            <tr> 
                                <td class="text-center">2009  </td>
                                <td class="text-center">9</td>
                                <td class="text-center">209001M </td>
                                <td class="text-center">O   </td>
                                <td class="text-center">3.0</td>
                                <td>AUDITORÍA Y SEGURIDAD EN INFORMÁTICA</td>
                                <td class="text-center"><span class="label label-primary">12<span></span></span></td>
                                <td class="text-center">2</td>
                                <td class="hidden-xs">P   -2016120120090209001M2P</td>
                            </tr>
                            <tr> 
                                <td class="text-center">2009  </td>
                                <td class="text-center">9</td>
                                <td class="text-center">209003  </td>
                                <td class="text-center">O   </td>
                                <td class="text-center">2.0</td>
                                <td>INGENIERIA DE NEGOCIOS</td>
                                <td class="text-center"><span class="label label-primary">13<span></span></span></td>
                                <td class="text-center">1</td>
                                <td class="hidden-xs">P   -20161201200902090031P</td>
                            </tr>
                            <tr> 
                                <td class="text-center">2009  </td>
                                <td class="text-center">9</td>
                                <td class="text-center">209005M </td>
                                <td class="text-center">O   </td>
                                <td class="text-center">2.0</td>
                                <td>MARKETING</td>
                                <td class="text-center"><span class="label label-danger">10</span></td>
                                <td class="text-center">4</td>
                                <td class="hidden-xs">P   -2016120120090209005M4P</td>
                            </tr>
                            <tr> 
                                <td class="text-center">2009  </td>
                                <td class="text-center">9</td>
                                <td class="text-center">209006  </td>
                                <td class="text-center">O   </td>
                                <td class="text-center">2.0</td>
                                <td>DERECHO INFORMÁTICO</td>
                                <td class="text-center"><span class="label label-primary">11<span></span></span></td>
                                <td class="text-center">2</td>
                                <td class="hidden-xs">P   -20161201200902090062P</td>
                            </tr>
                            {#<script>
                                ponderados.push({semestre: '2016-1', ponderado: parseFloat(11.466666666666667).toFixed(3)});
                            </script>#}
                        </tbody>
                    </table>
                </div>
                <div>
                    <ul class="fa-ul">
                        <li class="text-muted">*TIPO ASIGNATURA: O=obligatorio, E=electivo, L=libre</li>
{#                        <li class="text-muted">*TIPO ATA: P=promocional, A=adicional, H=jurado ad-hoc, C=convalidación</li>#}
                        <li class="text-muted">*LEYENDA: CRED=créditos, CAL= calificación, SEC=sección</li>
                    </ul>
                </div>
                {#                <a target="_blank" title="Descargar PDF" onclick="verPDF('ReporteAlumnoNotas');"><button class="btn btn-success pull-right"><i class="fa fa-file-pdf-o"></i> Descargar en PDF</button></a>            #}
            </div>


        </div>
    </div>

{% endblock %}
